services:
  qwen:
    build:
      dockerfile_inline: |
        FROM docker.io/library/node:20-slim
        ARG CLI_VERSION=latest
        ENV SANDBOX="qwen-code-sandbox"
        ENV CLI_VERSION=${CLI_VERSION}
        RUN apt-get update && apt-get install -y -y --no-install-recommends \
        python3 \
        man-db \
        curl \
        dnsutils \
        less \
        jq \
        bc \
        gh \
        git \
        unzip \
        rsync \
        ripgrep \
        procps \
        psmisc \
        lsof \
        socat \
        ca-certificates \
        python3-pip python3-notebook jupyter-nbconvert python3-pandas \
        && apt-get clean \
        && rm -rf /var/lib/apt/lists/*

        RUN npm install -g @qwen-code/qwen-code@${CLI_VERSION}
    container_name: qwen
    working_dir: /adAnalyzer
    stdin_open: true
    tty: true
    volumes:
      - .:/adAnalyzer
      - .qwen:/root/.qwen
    entrypoint: ['/bin/bash', '-c', '. venv/Scripts/activate && alias python=python3 && qwen --continue' ]