/* styles.css - Styles for highlighting ads */
/* Note: These styles are also defined in js/modules/highlightStyles.js for iframe injection */

/* Ad highlights - using outline for maximum visibility */
.ad-highlighter-border {
  outline: 3px dashed #ff0000 !important;
  outline-offset: -3px !important;
}
